body {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 20px;
}

a {
    width: 10%;
    text-align: center;
}

.colors {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.size > div {
    display: grid;
    align-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
}

.size > div > h1 {
    font-size: 20px;
}

.box-red {
    background-color: red;    
}

.box-cadetblue {
    background-color: cadetblue;
}

.box-cornflowerblue {
    background-color: cornflowerblue;
}

.box-brown {
    background-color: rgb(180, 132, 122);
}

.box-yellow {
    background-color: rgb(235, 232, 28);
}

.box-green {
    background-color: rgb(38, 186, 2);
}

.box-whitegreen {
    background-color: #B2F8A1;
}

.box-whiteblue {
    background-color: #00C4B3;
}

.box-whitepurple {
    background-color: #B2B7DE;
}